
.navbar{
    display: none;
}

body{
    background-color: #fff;
}

header{
    min-height: 0;
    background-image:none;
    padding-bottom: 0;
    margin-bottom: 10px;
}

header h1, main h1{
    margin-top: 10px;
    color:#000;
}

main h1{
    font-size: 3.5em;
}

header h1{
    font-size: 3em;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1{
    font-size: 2.5em;
    text-align: left;
    color:#000;
    margin-top: 0;
    margin-bottom: 0;
}

.btn{
    display: none;
}

.title_button, .title{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2{
    padding-top: 0;
    font-size: 2.8em;
    color:#000;
    text-align: left;
    margin-left:10px;
    margin-bottom: 0;
}

h3{
    font-size: 2.25em;
    color:#000;
    margin-left: 10px;
    padding-top: 20px;
}


p{
    font-size: 1.23em;
    font-family: sans-serif, Courier, monospace;
    text-align: left;
    color:#000;
    margin-left: 5px;
    margin-right: 5px;
}

#OurToken h3{
    margin-right: 10px;
}

li{
    color: #000;
    font-size: 1.8em;
    margin-left: 20px;
}

#OurToken{
    background: none;
}

.Box{
    min-height: 0;
    padding-bottom: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

li p{
    font-size: 0.68em;
    margin-right: 22px;
    margin-left: 0;
    padding-top: 0;
}

ul li{
    color: #000;
}

#img1{
    height: 300px;
}

#img2{
    height: 140px;
}

.Elokep{
    width: 170px;
}

.Elokep img{
    width: 160px;
}

footer h1{
    color: #000;
    text-align: center;
}

footer h1:before{
    content: none;
}

video, #Link{
    display: none;
}

table, caption, th, td, summary, details{
    color: #000;
}

#Linkek, .menu, form, #Datumok{
    display:none;
}

#PrintDatumok{
    display: block;
    margin-left: 25px;
}

#PrintDatumok{
    font-size: 1.2em;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

#PrintDatumok h2{
    margin-left: 0;
    font-size: 1.8em;
}
