@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Oswald&display=swap');

body{
    min-width: 500px;
    background-color: #191919;
}

.main{
    max-width: 1300px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h1{
    font-size: 3em;
    text-align: center;
    color:#fff;
    font-family: 'Montserrat','Lucida Sans', sans-serif;
    margin-bottom: 30px;
}

p{
    text-indent: 20px;
    font-size: 1.4em;
    font-family: sans-serif;
    text-align: left;
    color:#fff;
    font-family: sans-serif, Courier, monospace;
}

.menu{
    min-height: 42px;
}

.menu a{
    margin-left: 19px;
    position: absolute;
    top: 15px;
    left: 45px;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    transition: transform .2s;
}

.menu a:hover{
    transform: scale(1.05);
}

img{
    position: absolute;
    top:-5px;
    left:-50px;
    width: 45px;
    height: 45px;
}

.footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 42px;
}

.footer h1{
    font-size: 4em;
    font-family: 'Orbitron', 'Radio Canada', Arial, Helvetica, sans-serif;
}

.footer h1:before {
    content: "";
    background-image:url(../images/logo.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 75px;
    width:75px;
    position:relative;
    top:10px;
    margin-right: 10px;
}

abbr{
    text-decoration-line: none !important;
    cursor: help !important;
}

nav li{
    font-size: 1.5em;
    margin-left: 16px;
}

.navbar-brand{
    font-size: 2em;
}

nav ul{
    margin-left: auto;
}

@media only screen and (max-width: 720px) {
    .footer h1:before {
        content: none;
    }
}